<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="text-center"><a href="/admin"><i class="fa fa-reply pull-left"></i></a> <%= @service.name %></h1>
      </div>
      <div class="panel-body">
        <p><%= @service.desc %></p>
      </div>
    </div>
  </div>
</div>