<div class="row">
  <div class="col-md-12">
    <h1 class="head"><i class="fa fa-users"></i> About us</h1>
  </div>
</div>
<div class="row about">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3><i class="fa fa-user"></i> Who</h3>
      </div>
      <div class="panel-body">
        <p>
          Integer legentibus erat a ante historiarum dapibus. Hi omnes lingua, institutis, legibus inter se differunt. Mercedem aut nummos unde unde extricat, amaras. Quisque placerat facilisis egestas cillum dolore. Me non paenitet nullum festiviorem excogitasse ad hoc.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3><i class="fa fa-gamepad"></i> What</h3>
      </div>
      <div class="panel-body">
        <p>
          Fictum,  deserunt mollit anim laborum astutumque! Idque Caesaris facere voluntate liceret: sese habere. Tu quoque, Brute, fili mi, nihil timor populi, nihil! Tityre, tu patulae recubans sub tegmine fagi  dolor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus.
Quid securi etiam tamquam eu fugiat nulla pariatur. Morbi odio eros, volutpat ut pharetra vitae, lobortis sed nibh. Integer legentibus erat a ante historiarum dapibus. Cum sociis natoque penatibus et magnis dis parturient.
Fabio vel iudice vincam, sunt in culpa qui officia. Mercedem aut nummos unde unde extricat, amaras. Cras mattis iudicium purus sit amet fermentum. Fictum,  deserunt mollit anim laborum astutumque!
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3><i class="fa fa-building-o"></i> Where</h3>
      </div>
      <div class="panel-body">
        <p>Put address here</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3><i class="fa fa-clock-o"></i> When</h3>
      </div>
      <div class="panel-body">
        <p>Hours here</p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3><i class="fa fa-question"></i> Why</h3>
      </div>
      <div class="panel-body">
        <p>
          Etiam habebis sem dicantur magna mollis euismod. Quid securi etiam tamquam eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident culpa. Quid securi etiam tamquam eu fugiat nulla pariatur. Inmensae subtilitatis, obscuris et malesuada fames.
Quam temere in vitiis, legem sancimus haerentia. Ambitioni dedisse scripsisse iudicaretur. Quam diu etiam furor iste tuus nos eludet? A communi observantia non est recedendum. Ab illo tempore, ab est sed immemorabili.
        </p>
      </div>
    </div>
  </div>
</div>