<div class="row">
  <div class="col-md-12">
    <div>
      <%= image_tag("logo.png", :alt => "Logo", class: "center-block img-responsive") %>
    </div>
  </div>
</div>
<div class="row">
  <%= render @blurbs %>
</div>
