<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="text-center"><a href="/admin"><i class="fa fa-reply pull-left"></i></a><i class="fa fa-<%= @blurb.icon %>"></i> <%= @blurb.title %></h1>
      </div>
      <div class="panel-body">
        <p><%= @blurb.desc %></p>
      </div>
    </div>
  </div>
</div>