<li class="user">
  <%= gravatar_for user, size: 65 %>
  <%= link_to user.name, user, style: "font-size: 18px; color: #333333;" %>
  <% if current_user.admin? && !current_user?(user) %>
    <span class="pull-right">
     <%= link_to user, method: :delete, data: { confirm: "You sure?" }  do %>
      <i class="fa fa-times" style="color: red;"></i>
      <%= link_to edit_user_path(user) do %>
        <i class="fa fa-pencil-square-o" style="color: black;"></i>
      <% end %>
      <% end %>
    </span>
  <% end %>
</li>